In [1]:
import sqlite3

In [9]:
conn = sqlite3.connect('binar_data_science_join.db')
print('Opened database successfully')

Opened database successfully

In [11]:
conn.execute('' 'CREATE TABLE useres (username varchar(255), email varchar(255));''')
print("Table 'users' created succesfully")

Table 'users' created succesfully

In [13]:
conn.execute("INSERT INTO useres (username, email) VALUES ('binaria', 'binaria@gmail.com')")

In [35]:
conn.execute('''CREATE TABLE hobbies (name varchar(255), user_id INT, FOREIGN KEY(user_id) REFERENCES useres (rowid));''')
print("Table 'hobbies' created successfully")

conn.execute("INSERT INTO hobbies (name, user_id) VALUES ('football', 1);")
conn.execute("INSERT INTO hobbies (name, user_id) VALUES ('gaming', 2);")
conn.execute("INSERT INTO hobbies (name, user_id) VALUES ('traveling', 2);")

Table 'hobbies' created successfully

In [41]:
conn.execute('SELECT * FROM hobbies')

In [26]:
import pandas as pd

In [42]:
pd.read_sql_query("SELECT * FROM hobbies;", conn)

        name  user_id
0   football        1
1     gaming        2
2  traveling        2

In [44]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)

      name
0     user
1   useres
2  hobbies