In [42]:
import sqlite3

In [43]:
conn = sqlite3.connect('binar_data_science_join.db')
print('Opened database successfully')

Opened database successfully

In [74]:
# conn.execute('' 'CREATE TABLE useres (username varchar(255), email varchar(255));''')
# print("Table 'users' created succesfully")

OperationalError: table useres already exists

In [75]:
conn.execute("INSERT INTO useres (username, email) VALUES ('binaria', 'binaria@gmail.com')")

OperationalError: database is locked

In [64]:
# conn.execute('''CREATE TABLE hobbies (name varchar(255), user_id INT, FOREIGN KEY(user_id) REFERENCES useres (rowid));''')
# print("Table 'hobbies' created successfully")

# conn.execute("INSERT INTO hobbies (name, user_id) VALUES ('football', 1);")
# conn.execute("INSERT INTO hobbies (name, user_id) VALUES ('gaming', 2);")
# conn.execute("INSERT INTO hobbies (name, user_id) VALUES ('traveling', 2);")

OperationalError: table hobbies already exists

In [65]:
conn.execute('SELECT * FROM hobbies')

In [66]:
import pandas as pd

In [67]:
pd.read_sql_query("SELECT * FROM hobbies;", conn)

Empty DataFrame
Columns: [name, user_id]
Index: []

In [68]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)

      name
0     user
1   useres
2  hobbies

In [69]:
import sqlite3

conn = sqlite3.connect('binar_data_science_join.db')
print('Opened database successfully')
print()

print('List of joined Data:')
cursor = conn.execute("SELECT useres.username, hobbies.name \
            FROM useres INNER JOIN hobbies ON useres.rowid = hobbies.user_id")

Opened database successfully

List of joined Data:

In [52]:
pd.read_sql_query("SELECT useres.username, hobbies.name FROM useres INNER JOIN")

TypeError: read_sql_query() missing 1 required positional argument: 'con'

In [55]:
import sqlite3

conn = sqlite3.connect('binar_data_science_join.db')
print('Opened database successfully')
print()

print('List of joined Data:')
cursor = conn.execute("SELECT useres.username, hobbies.name \
            FROM useres LEFT JOIN hobbies ON useres.rowid = hobbies.user_id")
for row in cursor:
    print(row)

print()
print('Operation done successfully')
#conn.close()

Opened database successfully

List of joined Data:

Operation done successfully

In [71]:
 pd.read_sql_query("SELECT * FROM hobbies;", conn)

Empty DataFrame
Columns: [name, user_id]
Index: []

In [72]:
pd.read_sql_query("SELECT * FROM useres", conn)

Empty DataFrame
Columns: [username, email]
Index: []

In [70]:
pd.read_sql_query("SELECT useres.username, hobbies.name \
            FROM useres LEFT JOIN hobbies ON useres.rowid = hobbies.user_id", conn)

Empty DataFrame
Columns: [username, name]
Index: []