In [ ]:
import pandas as pd
import sqlite3

In [ ]:
cnx = sqlite3.connect('cindo.db')

In [ ]:
sql_df = pd.read_sql_query("SELECT * from sqlite_master;",cnx)

In [ ]:
sql_df

In [ ]:
#Pertanyaan nomor 1

sql_df = pd.read_sql_query("SELECT DISTINCT * from sqlite_master where name <> 'TV Shows' ORDER BY name;",cnx)

In [ ]:
sql_df

In [ ]:
#Pertanyaan Nomor 2

sql_df = pd.read_sql_query("SELECT customerId, SUM(total) AS TotalPayment FROM invoices WHERE invoiceDate BETWEEN 2010 AND 2014;",cnx)

In [ ]:
sql_df

In [ ]:
#Pertanyaan 3

sql_df = pd.read_sql_query("SELECT customerId, SUM(total) AS TotalPayment FROM invoices WHERE invoiceDate BETWEEN 2010 AND 2014 HAVING TotalPayment >'35';",cnx)

In [ ]:
sql_df

In [ ]:
#Pertanyaan 4A

sql_df = pd.read_sql_query("SELECT Id, Email, Address, Country FROM customer where Country == 'USA' ORDER BY name END IsUSA;",cnx)

In [ ]:
sql_df

In [ ]:
#Pertanyaan 4B

sql_df = pd.read_sql_query("SELECT Id, Email, Address, Country from customer where Country <> 'USA' ORDER BY name END NotUsa;",cnx)

In [ ]:
sql_df

In [ ]:
#Pertanyaan 5

sql_df = pd.read_sql_query("SELECT c.customerId, c.firstName, c.lastName, c.phone, c.address FROM customers WHERE EXISTS (SELECT 1 FROM invoices i WHERE i.customerId = c.customerId) ORDER BY c.customerId;;",cnx)